div(class="row")

  div(class="col-md-8")
    
    div(class="page-header")
      h1 Temperature
    div
      canvas(chart, id="temperatureChart", type="Line", options="indoorTemperatureReporting.chart.options", data="indoorTemperatureReporting.chart.data", width="700", height="350") 

    div(class="page-header")
      h1 Humidity
    div
      canvas(chart, id="humidityChart", type="Line", options="indoorHumidityReporting.chart.options", data="indoorHumidityReporting.chart.data", width="700", height="350")

  div(class="col-md-4")
    div(id="hue-lighting-control", class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") HUE Lighting Controls
      div(class="panel-body")
        div(ng-show="hueLighting.isLoading", class="alert alert-success")
          strong Checking lights...
        div(ng-hide="hueLighting.isLoading")
          div(ng-hide="hueLighting.bridge.isAuthorized")
            div(class="alert alert-danger")
              strong Bridge is not authorized. 
              | Go press the link button on the bridge, then try authorizing again.
            div(class="btn-toolbar")
              a(ng-click="hueLighting.authorizeBridge()", class="btn btn-primary btn-block") Authorize bridge
          div(ng-show="hueLighting.bridge.isAuthorized")
            ul(class="list-unstyled")
              li(ng-repeat="l in hueLighting.lights")
                h4 {{ l.name }}
                a(ng-hide="l.data.state.on", ng-click="l.turnOn()", class="btn btn-success btn-block") Turn on
                a(ng-show="l.data.state.on", ng-click="l.turnOff()", class="btn btn-danger btn-block") Turn off

