div(class="row")
  div(class="page-header")
    h1 Temperature
  div(class="col-md-8")
    div(class="chart-wrapper")
      canvas(chart, id="temperatureChart", type="Line", options="indoorTemperatureReporting.chart.options", data="indoorTemperatureReporting.chart.data", width="700", height="350")
  div(class="col-md-4")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Stats
      div(class="panel-body")
        dl
          dt Current:
          dd
            div(ng-if="indoorTemperatureCurrent.values.fahrenheit", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{indoorTemperatureCurrent.values.fahrenheit | number:2}}&deg; F
          dt Average:
          dd
            div(ng-if="indoorTemperatureStats.values.average", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{indoorTemperatureStats.values.average.fahrenheit | number:2}}&deg; F
          dt Max:
          dd 
            div(ng-if="indoorTemperatureStats.values.max", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{indoorTemperatureStats.values.max.fahrenheit | number:2}}&deg; F
          dt Min:
          dd
            div(ng-if="indoorTemperatureStats.values.min", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{indoorTemperatureStats.values.min.fahrenheit | number:2}}&deg; F        

div(class="row")
  div(class="page-header")
    h1 Humidity
  div(class="col-md-8")    
    div(class="chart-wrapper")
      canvas(chart, id="humidityChart", type="Line", options="indoorHumidityReporting.chart.options", data="indoorHumidityReporting.chart.data", width="700", height="350")
  div(class="col-md-4")        
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Stats
      div(class="panel-body")
