div(class="row") HOME
    div(class="page-header")
        h1 Sticky footer with fixed navbar
    p(class="lead") Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS.