div(class="row")

  div(class="col-xs-12")
    form(id="news-source", role="form")
      div(class="form-group")
        label Source URL
        input(ng-model="editingSource.url", class="form-control", type="url", required)
      div(class="form-group")
        label Category
        select(ng-model="editingSource.category", class="form-control", required)
          option(value="development") Development
          option(value="making") Making
          option(value="music") Music
          option(value="technology") Technology
      div(class="btn-toolbar")
        button(ng-click="editingSource.save()", class="btn btn-primary") Save
        button(ng-click="editingSource.cancel()", class="btn btn-default") Cancel
