div(class="row")
  div(class="col-xs-12")
    form(id="news-source", role="form")
      div(class="form-group")
        label Source URL
        input(ng-model="newsSourceConfig.editing.url", class="form-control", type="url", required)
      div(class="form-group")
        label Category
        select(ng-model="newsSourceConfig.editing.category", class="form-control", required)
          option(value="development") Development
          option(value="making") Making
          option(value="music") Music
          option(value="technology") Technology
      div(class="btn-toolbar")
        button(ng-click="newsSourceConfig.save()", class="btn btn-primary") Save
        button(ng-click="newsSourceConfig.cancel()", class="btn btn-default") Cancel

div(class="row")
  div(class="col-xs-12")
    ul(class="list-unstyled")
      li
