div(class="row")

  div(class="col-md-9")
    canvas(chart, id="systemTempChart", type="Line", options="systemTempReporting.recentTempChart.options", data="systemTempReporting.recentTempChart.data", width="700", height="350")

  div(class="col-md-3")
