div(class="row")

  div(class="page-header")
    h1 System Temperature  

  div(class="col-md-8")
    canvas(chart, id="systemTempChart", type="Line", options="systemTempReporting.recentTempChart.options", data="systemTempReporting.recentTempChart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Stats
      div(class="panel-body")
        dl
          dt Current:
          dd
            div(ng-if="systemCurrentTemp.values.fahrenheit", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemCurrentTemp.values.fahrenheit | number:2}}&deg; F
          dt Average:
          dd
            div(ng-if="systemTempStats.values.average", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.average.fahrenheit | number:2}}&deg; F
          dt Max:
          dd 
            div(ng-if="systemTempStats.values.max", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.max.fahrenheit | number:2}}&deg; F
          dt Min:
          dd
            div(ng-if="systemTempStats.values.min", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.min.fahrenheit | number:2}}&deg; F

div(class="row")

  div(class="page-header")
    h1 System Information

  div(class="col-md-4")
    h3 Memory 
      small as of {{ systemCurrentMemory.values.date | date:'medium' }}
    ul(class="list-inline")
      li(style="color: #F7464A;") 
        strong Used
      li(style="color: #4D5360;") 
        strong Free
      li(style="color: #7EC5BC;")
        strong Shared
      li(style="color: #949FB1;")
        strong Buffers
      li(style="color: #D4CCC5;")
        strong Cached

    canvas(chart, id="systemMemoryChart", type="Pie", options="systemCurrentMemory.currentMemoryChart.options", data="systemCurrentMemory.currentMemoryChart.data", width="370", height="300")

  div(class="col-md-4")
    h3 Storage 
      small as of {{ systemCurrentStorage.values.date | date:'medium' }}
    ul(class="list-inline")
      li(style="color: #F7464A;")
        strong Used
      li(style="color: #4D5360;")
        strong Available

    canvas(chart, id="systemMemoryChart", type="Pie", options="systemCurrentStorage.currentStorageChart.options", data="systemCurrentStorage.currentStorageChart.data", width="370", height="300")

  div(class="col-md-4")
    h3 Config 
      small as of {{ systemCurrentConfig.values.date | date:'medium' }}
    div(class="chart-spacer")
    dl
      dt Temperature Limit:
      dd
        div(ng-if="systemCurrentConfig.values.temp_limit", class="system-config-wrapper")
          span(class="text-primary system-config-value") {{systemCurrentConfig.values.temp_limit}}&deg; F
      dt Arm Frequency:
      dd
        div(ng-if="systemCurrentConfig.values.arm_freq", class="system-config-wrapper")
          span(class="text-primary system-config-value") {{systemCurrentConfig.values.arm_freq}} MHz
      dt Core Frequency:
      dd
        div(ng-if="systemCurrentConfig.values.core_freq", class="system-config-wrapper")
          span(class="text-primary system-config-value") {{systemCurrentConfig.values.core_freq}} MHz
      dt SDRAM Frequency:
      dd
        div(ng-if="systemCurrentConfig.values.sdram_freq", class="system-config-wrapper")
          span(class="text-primary system-config-value") {{systemCurrentConfig.values.sdram_freq}} MHz

div(class="row")

  div(class="page-header")
    h1 Starbug Temperature

  div(class="col-md-8")
    canvas(chart, id="starbugTempChart", type="Line", options="starbugTempReporting.chart.options", data="starbugTempReporting.chart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Stats
      div(class="panel-body")
        dl
          dt Current:
          dd
            div(ng-if="starbugCurrentTemp.values.fahrenheit", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{starbugCurrentTemp.values.fahrenheit | number:2}}&deg; F
          dt Average:
          dd
            div(ng-if="starbugTempStats.values.average", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{starbugTempStats.values.average.fahrenheit | number:2}}&deg; F
          dt Max:
          dd 
            div(ng-if="starbugTempStats.values.max", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{starbugTempStats.values.max.fahrenheit | number:2}}&deg; F
          dt Min:
          dd
            div(ng-if="starbugTempStats.values.min", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{starbugTempStats.values.min.fahrenheit | number:2}}&deg; F        
