div(class="row")

  div(class="page-header")
    h1 System Temperature  

  div(class="col-md-8")
    canvas(chart, id="systemTempChart", type="Line", options="systemTempReporting.recentTempChart.options", data="systemTempReporting.recentTempChart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Stats
      div(class="panel-body")
        dl
          dt Current:
          dd
            div(ng-if="systemCurrentTemp.values.fahrenheit", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemCurrentTemp.values.fahrenheit | number:2}}&deg; F
          dt Average:
          dd
            div(ng-if="systemTempStats.values.average", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.average.fahrenheit | number:2}}&deg; F
          dt Max:
          dd 
            div(ng-if="systemTempStats.values.max", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.max.fahrenheit | number:2}}&deg; F
          dt Min:
          dd
            div(ng-if="systemTempStats.values.min", class="temp-stat-wrapper")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.min.fahrenheit | number:2}}&deg; F

div(class="row")

  div(class="page-header")
    h1 System Information

  div(class="col-md-6")
    h3() Memory
    canvas(chart, id="systemMemoryChart", type="Pie", options="systemCurrentMemory.currentMemoryChart.options", data="systemCurrentMemory.currentMemoryChart.data", width="525", height="350")
