div(class="row")

  div(class="col-md-8")
    canvas(chart, id="systemTempChart", type="Line", options="systemTempReporting.recentTempChart.options", data="systemTempReporting.recentTempChart.data", width="700", height="350")

  div(class="col-md-4")
    div(class="panel panel-default")
      div(class="panel-heading")
        h3(class="panel-title") Temperature Data
      div(class="panel-body")
        dl
          dt Current:
          dd
            span(ng-if="systemCurrentTemp.values.fahrenheit", class="text-primary temp-stat-value") {{systemCurrentTemp.values.fahrenheit | number:2}}&deg; F
          dt Average:
          dd
            div(ng-if="systemTempStats.values.average")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.average.fahrenheit | number:2}}&deg; F
          dt Max:
          dd 
            div(ng-if="systemTempStats.values.max")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.max.fahrenheit | number:2}}&deg; F
          dt Min:
          dd
            div(ng-if="systemTempStats.values.min")
              span(class="text-primary temp-stat-value") {{systemTempStats.values.min.fahrenheit | number:2}}&deg; F
